
*.dll
*.pdb
*.tmp
*.txt
*.nupkg
*.exe
*.addins
src/AddressProcessor.Tests/bin/Debug/nunit.framework.xml
src/AddressProcessor.Tests/bin/Debug/test_data/contacts.csv
src/AddressProcessor.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/AddressProcessor.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/AddressProcessor.Tests/obj/Debug/AddressProcessing.Tests.csprojResolveAssemblyReference.cache
src/AddressProcessor.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/AddressProcessor/obj/Debug/AddressProcessing.csprojResolveAssemblyReference.cache
src/AddressProcessor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/AddressProcessor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/AddressProcessor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/packages/NUnit.ConsoleRunner.3.6.1/tools/nunit3-console.exe.config
src/packages/NUnit.ConsoleRunner.3.6.1/tools/nunit.engine.api.xml
src/packages/NUnit.ConsoleRunner.3.6.1/tools/nunit-agent.exe.config
src/packages/NUnit.ConsoleRunner.3.6.1/tools/nunit-agent-x86.exe.config
src/packages/NUnit.3.6.1/lib/Xamarin.iOS10/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/portable-net45+win8+wp8+wpa81/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/netstandard1.6/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/net45/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/net40/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/net35/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/net20/nunit.framework.xml
src/packages/NUnit.3.6.1/lib/MonoAndroid/nunit.framework.xml
